@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: #F1DDC3;
      --foreground: #262626;

      --card: #7DBBC3;
      --card-foreground: #262626;

      --popover: #F1DDC3;
      --popover-foreground: #262626;

      --primary: #7DBBC3;
      --primary-foreground: #F1DDC3;

      --secondary: #F1DDC3;
      --secondary-foreground: #7DBBC3;

      --muted: #F1DDC3;
      --muted-foreground: #262626CC;

      --accent: #F1DDC3;
      --accent-foreground: #7DBBC3;

      --destructive: #ef4444;
      --destructive-foreground: #F1DDC3;

      --border: #26262644;
      --input: #26262644;
      --ring: #262626;

      --radius: 0.5rem;
    }

    .dark {
      --background: #262626;
      --foreground: 210 40% 98%;

      --card: #262626;
      --card-foreground: 210 40% 98%;

      --popover: #262626;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: #7DBBC3;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


a {
  text-decoration: underline;
}